html, body{
    margin: 0 auto;
}

.wrapper{
    width: 80%;
    margin-left: 10%;
}
h1.menu {
    color: #f0cb00;
    font-size: 15vh;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h3.menu {
    color: white;
    font-size: 5vh;
    text-transform: uppercase;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

body {
    background-image: url("marmur.webp");
    margin: 0;
    color: white;
}

#index-text {
    color: white;
    text-align: center;
    margin-top: 50px;
    font-size: 4rem;
}

ul {
    list-style: none;
    display: table;
    margin: 0 auto;
    padding: 0;
}

li {
    margin: 0 0 10px 0;
    display: block;
}

button.menu {
    font-weight: 600;
    background-color: #595959;
    border: none;
    color: white;
    padding: 15px 32px 32px;
    text-align: center;
    font-size: 2vh;
    height: 5vh;
    display: block;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-radius: 20px;
    opacity: 90%;
    margin-bottom: 1rem;
    text-decoration: none;


}

button.menu:hover {
    background-color: #f0cb00;
    color: white;
    box-shadow: 0 0 10px white;
}

button.bar {
    font-weight: 600;
    background-color: transparent;
    border: none;
    color: white;
    padding-left: 3rem;
    padding-right: 3rem;
    text-align: center;
    font-size: 2vh;
    height: 2rem;
    display: block;
    cursor: pointer;
    transition: 0.3s;
    width: auto;
    table-layout: fixed;
    border-collapse: collapse;
    margin-left: 2rem;
    margin-right: 2rem;
    text-shadow: 3px 3px 5px black;
    letter-spacing: 2px;
}


button.bar:hover {
    background-color: #f0cb00;
    color: white;
    box-shadow: 0 0 40px rgba(240, 203, 0, 0.59);
}

img {
    display: block;
    margin: auto;
}

form.forms {
    background-color: rgba(182, 151, 72, 0.71);
    zoom: 1;
    margin: 10px auto 10px auto;
    max-width: 600px;
    width: 100%;
    padding: 20px 20px;
    border: 5px solid black;
    border-radius: 10px;
    font-weight: 500;
    letter-spacing: 1px;
}

.header-div{
    width: 100%;
    height: 2rem;
    background-color: #595959;
    opacity: 80%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    box-shadow: 0 0 40px #858585;


}

#search-user-p{
    font-size: 1.2rem;
}

#logout-button{
    font-weight: 600;
    background-color: #595959;
    border: none;
    color: white;
    padding-right: 3rem;
    padding-left: 3rem;
    text-align: center;
    font-size: 2vh;
    height: 2rem;
    display: block;
    cursor: pointer;
    transition: 0.3s;
    width: auto;
    table-layout: fixed;
    border-collapse: collapse;
    vertical-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
    text-shadow: 3px 3px 5px black;
}

#logout-button:hover{
    background-color: #f0cb00;
    color: white;
}

form.forms input {
    width: 100%;
    outline: none;
    border: 1px solid black;
    margin: 10px 0;
    padding: 10px 10px 10px 5px;
}

form.forms button {
    margin-top: 10px;
    padding: 10px 20px;
    cursor: pointer;

}

#footer {
    position: absolute;
    bottom: 0;
    background-color: #494949;
    height: 3rem;
    width: 100%;
    opacity: 70%;
    align-items: center;
    vertical-align: center;
}

#p-footer {
    color: rgb(185, 185, 185);
    text-align: center;
    font-size: 1rem;
    padding: 0 0 0 0;
}

#stats-for-everyone{
    text-align: center;
    font-family: Calibri;
    font-weight: lighter;
}
label {
    color: black;
}
.error-mess {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff6464;
    margin-top: 1rem;
    font-weight: 700;
    text-shadow: 3px 3px 8px black;
}

#contact-wrapper{
    text-align: center;
    line-height: 30px;
    padding-top: 4rem;
    font-family: Lato, serif;
    background-color: rgba(128, 128, 128, 0.23);
    width: 80%;
    margin: 0 auto;
    padding-bottom: 4rem;
    border-radius: 15px;
    box-shadow: 0 0 20px white;
}
#contact-wrapper h1{
    font-weight: 300;
    font-size: 3rem;
    color: #f0cb00;
}
#contact-wrapper h2{
    font-weight: 100;
    letter-spacing: 4px;
}
#contact-wrapper img{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
#about-us-wrapper{
    text-align: left;
    line-height: 30px;
    padding-top: 2rem;
    font-family: Lato, serif;
    padding-left: 3rem;
    background-color: rgba(128, 128, 128, 0.23);
    width: 80%;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0 0 20px white;

}
#about-us-wrapper h1{
    font-weight: 300;
    font-size: 3rem;
    color: #f0cb00;
}
#about-us-wrapper h2{
    font-weight: 100;
    letter-spacing: 4px;
}

#about-us-wrapper img{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#faq-wrapper{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: left;
    line-height: 30px;
    font-family: Lato, serif;
    padding-left: 3rem;
    width: 80%;
    margin: 0 auto;
    border-radius: 15px;
    background-color: rgba(128, 128, 128, 0.23);
    box-shadow: 0 0 20px white;
}
#faq-wrapper h1{
    font-weight: 300;
    font-size: 3rem;
    color: #f0cb00;
}
#faq-wrapper h2{
    font-weight: 10000;
    letter-spacing: 2px;
    font-size: 1.5rem;
}
#faq-wrapper h3{
    font-weight: 100;
    font-size: 1rem;
    letter-spacing: 1px;
    padding-left: 2rem;
    font-family: "Sitka Small", monospace;
}

.some-settings-button{
    font-weight: 600;
    background-color: #595959;
    border: none;
    color: white;
    padding: 15px 32px 32px;
    text-align: center;
    font-size: 2vh;
    height: 5vh;
    display: block;
    cursor: pointer;
    transition: 0.3s;
    width: auto;
    table-layout: fixed;
    border-collapse: collapse;
    border-radius: 20px;
    opacity: 90%;
    text-decoration: none;
    margin: 0 auto 1.5rem;
}

.some-settings-button:hover {
    background-color: #790202;
    color: white;
}
input{
    border-radius: 5px;
}

/* TODO Koniecznie zrobić responsywny time tracker*/

@media only screen and (max-width: 1000px){
    h1.menu{
        font-size: 10vh;
    }
    h3.menu{
        font-size: 3vh;
    }
    button.bar{
        font-size: 0.8rem;
    }

}
@media only screen and (max-width: 900px){
    button.bar{
        font-size: 0.6rem;
        margin-left: 0;
        margin-right: 0;
    }
    #logout-button{
        font-size: 0.7rem;
        margin-left: 0;
        margin-right: 0;
    }
}
@media only screen and (max-width:640px){
    h1.menu{
        font-size: 4vh;
    }

    button.bar{
        font-size: 0.5rem;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }
}
@media only screen and (max-width:500px){
    .header-div{
        display: block;
        height: auto;
    }
    button.bar{
        margin: 0 auto;
    }
}

