.tracker-wrapper {
  margin: 50px 0;
  .tracker {
    width: 80%;
    margin: auto;
    &__task {
      background: rgba(52, 52, 52, 0.6);
      display: flex;
      align-items: center;
      padding: 1.4rem 0 1.4rem 3rem;
      border-radius: 10px;
      border: 3px solid #3d3d3d;

      &__control {
        margin-right: 5px;
      }

      &__name {
        margin-right: 5px;

        input {
          width: 300px;
          height: 25px;
        }
      }
    }
    &__past {
      margin-top: 50px;
      display: none;
      width: 100%;
      justify-content: center;
    }
    &__history {
      padding: 1.4rem 10em 1.4rem 3rem;
      background: rgba(52, 52, 52, 0.6);
      border-radius: 10px;
      border: 3px solid #3d3d3d;
      visibility: hidden;

      & > div {
        display: grid;
        grid-template-columns: 2fr 1fr 0.5fr;
        row-gap: 5px;
      }

      &__name {
        font-weight: bold;
      }
    }
  }
}

.tracker-error-wrapper {
  display: none;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 250px;
  background: #ff6464;
  border: 5px solid #494949;

  .tracker-error {
    &__content {
      padding: 10px;
    }

    h2 {
      text-align: center;
    }

    button {
      position: absolute;
      bottom: 0;
      height: 30px;
      width: 100px;
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: 5px;
    }
  }
}